<h3>Index page</h3>
<div class="row">
  <% @products.each do |p| %>
  <div class="col-md-4" style="border: 2px; border-color: #000">
    <div>
      <h4><%= p.title %></h4>
    </div>

    <div>
      <img src="<%= p.path_to_image %>">
    </div>
    
    <div>
      <%= p.description %>
    </div>
    
    <div>
      <%= p.path_to_image %>
    </div>

    <div class="w-100"></div>
    
  </div>
  <% end  %>
</div>
<br>
<br>
<button class="btn btn-primary btn-lg" onclick="something()">Click Me</button>


